.search-container {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

.search-expanded {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.search-input {
  width: 200px;
  border: none;
  box-shadow: none !important;
}

.search-input:focus {
  box-shadow: none !important;
}

.search-button,
.close-button {
  border: none;
  background: transparent;
}

.search-icon-button {
  font-size: 16px;
  color: white;
}

/* Add animation when expanding */
.search-container.expanded {
  margin-left: 8px;
}
